<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/CSS/main.css?@DateTime.Now.Ticks" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/popper.js/popper.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <style>

        body {
            padding-top: 0px;
            background-color: darkgrey;
            margin: 0 auto;
            width: 940px;
        }

        td.shrink {
            white-space: nowrap
        }

        td.expand {
            width: 99%
        }

        compact {
            border: 0px;
            padding: 0px;
            margin: 0px;
        }
    </style>
</head>
    <body>

        <!-- The drop down menu -->

        <nav class="navbar navbar-expand-lg navbar-light "
             style="background:#F0F0F0;padding:2px">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href=".">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Links
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="http://www.MycoKey.com">MycoKey</a>
                            <a class="dropdown-item" href="https://www.britmycolsoc.org.uk/library/keys">BMS: Keys for Macrofungi</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="http://www.EnglishFungi.org">EnglishFungi.org</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="~/About">About</a>
                            <a class="dropdown-item" href="~/MycoKeyCreator">MycoKeyCreator</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <table border="0" cellspacing="0" cellpadding="0" 
               style="width:100%; border:0px ; border-color:darkgray; background-color:white; margin:0px">
            <tbody>
                <tr>
                    <td style="width:30px"></td>
                    <td style="width: 880px;">
                        @RenderBody()
                    </td>
                    <td style="width:30px"></td>
                </tr>
            </tbody>
        </table>
        <p style="height:30px;background:white;">&nbsp;</p>
    </body>
</html>