@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mainheader">About</h1>
<p>
    This web site presents some keys for fungi which I hope will be of use.
    It was created by myself, Leif Goodwin, using the MycoKeyMaker software package.
</p>
<h2 class="mainheader">Contact</h2>
<p>If you have any comments, questions, suggestions, correction or criticisms please send 
    an email to <span style="font-weight:bold">contact@englishfungi.org</span>.</p>
