@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mainheader">MycoKeyMaker</h1>
<p>
    MycoKeyMaker is a free software package that allows the user to create one or more online keys. It
    consists of desktop and web applications. The desktop application creates and edit the keys. It is 
    written in C# and .Net, and runs on a Windows PC. The web application displays the keys in a web 
    site. It written in Asp.Net Core and runs on a web server PC. The keys are stored in a Microsoft 
    SQLServer database.
</p>
<p>
    You are welcome to use the software to create your own web site. You will of course have to edit 
    some pages to suit your needs. Alternatively you can create a database, and I will add it to
    this web site. There is currently no documentation available: I will create some as and when it is 
    needed. The software is still in development. 
</p>
<h2 class="mainheader">Software Download</h2>
<p>The source code is available from the GitHub web site:</p>
<a href="https://github.com/LeifUK/MycoKeyMaker">MycoKeyMaker Download</a>
