@model System.Collections.Generic.List<MycoKeys.Library.DBObject.Key>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mainheader">Fungal Keys</h1>
<br />
<table class="table-bordered" cellspacing="0" cellpadding="0" style="width:100%; ">
    <tbody>
        @foreach (var item in Model)
        {
        string path = "/Keys/" + @item.name;
        <tr style="border: 0px;">
            <td class="compact text-nowrap" style="text-align: left; width:1%;padding:10px;">
                <a class="" style="vertical-align:central;margin:0px;" href="@path">@item.name </a>
            </td>
            <td class="compact" style="text-align: left;padding:10px;">
                @item.title
            </td>

        </tr>
        }
    </tbody>
</table>
