<!DOCTYPE html>
<html>
<head>
    <link href="~/CSS/main.css?v=7" rel="stylesheet" />

    <style>

        body {
            padding-top: 0px;
            background-color: darkgrey;
            margin: 0 auto;
            width: 940px;
        }

        .container {
            z-index: 1;
            margin: 0 auto;
            align-content: center;
            background-color: white;
            border-width: 0px;
            border-style: solid;
            border-color: darkgray;
            width: 940px;
            top: 0px;
            margin-top: 27px;
            padding-bottom: 20px;
            position: absolute;
            color: black;
        }

        .standard-table {
            width: 940px;
            border: 0px;
            margin: 0px;
        }

        td.shrink {
            white-space: nowrap
        }

        td.expand {
            width: 99%
        }
    </style>
</head>
<body>

    @RenderBody()

</body>
</html>